/* DEVELOPER: John Guzman, IS117-001, Spring 2024 */
body { font-family: Arial, sans-serif; }
.card img { height: 200px; object-fit: cover; }
header { background-image: linear-gradient(to right, #007bff, #0056b3); }